.idea
.DS_Store

# 特定文件夹下内容
.vscode/**
__pycache__/**
old_repo/**
data_semester/**
# 特定文件类型
*.xlsx
*.json
*.pyc
*.log
*.pid
# 不忽略
!bitable_info.json
!user_stats_fields.json
!sysu_schedule.json
!sysu_semesters.json
!smc_sum_last_week.json
!config.json
# 特定文件
Readmeysy.md