.idea
.DS_Store

# 特定文件夹下内容
.vscode/**
__pycache__/**
data_incre/**
# 冗余文件
data_sem/*-*/week*/**
data_raw/**
old_repo/**
# 隐私文件
configs/app_tokens.json
configs/last_tenant.json
configs/ori_config.json
# 特定文件类型
*.pyc
*.log
*.pid
# 测试用代码
test*.py
# 特定文件
Readmeysy.md